.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #68b7f0;
  border: 1px solid #3b94d3;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #68b7f0;
  border-color: #4daff6;
}
